#cim {
    text-align: center;
}

body {
    background-image: url("hatter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#cigidb {
    width: 250px;
    position: relative;
}

#cigidoboz {
    width: 250px;
    position: relative;
}
#cigiar {
    width: 250px;
    position: relative;
}

#koltseg {
    font-weight: bold;
    color:white;
}

.col-sm-4 {

    color:white;
}