body {
    background-color: #636e72;
}

#mylogo {
    height: 70px;
    border-image: url(logo.png) 40 round;
    padding-right: 20px;
}

#navLabels {
    color:white;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    padding-left: 15px;
    padding-right: 15px;
}

#navLabelsActive {
    color:#7a46a6;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration:solid;
}


.nav-link:hover {
    color: #7a46a6;
    text-decoration: underline;
}

.fas {
    margin-bottom: 0px;
    font-size: 20px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size: 15px;
    padding-bottom: 10px;
}

.col-sm-3 {
    margin-top: 20px;
    padding-top:10px;
    text-align: center;
}

.col-sm-3 p {
    font-family: 'Press Start 2P', cursive;
    color:white;
    font-size: 10px;
}

.col-sm-3 img {
    width: 70%;
    margin-bottom: 10px;
    border: 2px solid black;
}

.col-sm-3 a {
    text-decoration: none;
}

.col-sm-3 h1 {
    font-family: 'Press Start 2P', cursive;
    color:#a29bfe;
    letter-spacing:2px;
    font-size: 15px;
    padding-bottom: 10px;
}